main.aux
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.idx
main.log
main.run.xml
main.synctex.gz
main.toc
main.xdy
main.glg
main.glo
main.gls
main.ilg
main.ind
main.mw
main.nlo
main.nls
main.bib
